# Archivos y bases de datos locales
erp_database.db
*.db
*.sqlite
*.sqlite3

# Entornos virtuales
venv/
env/
.env

# Secretos y configuraciones privadas de Streamlit
.streamlit/secrets.toml

# Archivos de caché e inútiles de Python/Mac
__pycache__/
*.pyc
.DS_Store
