streamlit>=1.38.0
pandas
SQLAlchemy
# Agregamos la libreria para hablar con PostgreSQL (Supabase)
psycopg2-binary
# Manejador de cookies de usuario
extra-streamlit-components
Werkzeug
streamlit-keyup
